<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên thể loại</th>
    <th>List blog</th>
    <th>Điều chỉnh</th>
    <th>Xóa</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="category, iterStat : ${categoryList}">
    <td th:text="${iterStat.count}"></td>
    <td><a th:href="@{/category/detail?id=__*{category.id}__}" th:text="${category.name}"></a></td>
    <td th:text="${category.blogsSet.toString()}"></td>
    <td><a th:href="@{/category/edit?id=__${category.id}__}" class="btn btn-primary">Edit</a></td>
    <td>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modelId"
              th:attr="onclick=|getBlogInfo('${category.id}', '${category.name}')|">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>