<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <a href="/blogs/create" class="btn btn-primary">Thêm mới Blog</a>
    <a href="/category/create" class="btn btn-primary">Thêm mới thể loại Blog</a>
</div>
<div class="table">
    <h1>List Product</h1>

    <form action="/blogs" method="get">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Search....">
        <input type="submit">
    </form>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên tác giả</th>
                <th>Tiêu đề</th>
                <th>Nội dung</th>
                <th>Phân Loại</th>
                <th>Điều chỉnh</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog, iterStat : ${blogList.content}">
                <td th:text="${iterStat.count}"></td>
                <td><a th:href="@{/blogs/detail?id=__${blog.id}__}" th:text="${blog.authorName}"/></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.content}"></td>
                <td th:text="${blog.category.name}"></td>
                <td>
                    <a th:href="@{/blogs/edit?id=__${blog.id}__}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a th:href="@{/blogs/delete?id=__${blog.id}__}" class="btn btn-primary" data-bs-toggle="modal"
                       data-bs-target="#exampleModal">Delete</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want to delete?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a class="page-item btn btn-dark" th:if="${blogList.hasPrevious()}"
               th:href="@{/blog(page = ${blogList.number - 1}, name = ${name})}">
                <i class="ti-angle-left"></i>
            </a>

            <a class="page-item number btn btn-dark" th:classappend="${pageNumber == blogList.number + 1} ? 'active' : ''"
               th:each="pageNumber : ${pageNumberList}"
               th:href="@{/blog(page = ${pageNumber - 1},name = ${name})}"
               th:text="${pageNumber}">
            </a>

            <a class="page-item btn btn-dark" th:if="${blogList.hasNext()}"
               th:href="@{/blog(page = ${blogList.number + 1}, name =${name})}">
                <i class="ti-angle-right"></i>
            </a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
</html>