<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<a href="/song/create" class="btn btn-secondary mb-3 mt-3">Thêm mới bài hát</a>


<table class="table">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên bài hát</th>
        <th>Tên ca sĩ</th>
        <th>Thể loại</th>
        <th>Điều chỉnh</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song, iterStat : ${songList}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${song.songName}"></td>
        <td th:text="${song.singer}"></td>
        <td th:text="${song.category}"></td>
        <td><a th:href="@{/song/edit(id = ${song.id})}" class="btn btn-primary">Edit</a></td>
    </tr>
    </tbody>
</table>

<div th:if="${msg}" th:text="#{${msg}}"></div>
<div th:if="${message}" th:text="#{${message}}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>