<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="../../bootstrap520/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="../../themify-icons/themify-icons.css">
    <style>
        img {
            width: 70px;
            height: 200px;
        }

        .page-item {
            margin: 10px 7px;
            background: white;
            color: black;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 5%">
    <h2 style="text-align: center">Danh sách cầu thủ</h2>
    <button type="button" class="btn btn-success" style="margin-bottom: 2%">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4"
             viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
        </svg>
        <a href="/soccer-player/create" style="text-decoration: none;color: white;"><i class="bi bi-cart4"> Thêm mới cầu
            thủ</i>
        </a>
    </button>

    <button type="button" class="btn btn-success" style="margin-bottom: 2%">
        <a href="/favorites" style="text-decoration: none;color: white;"><i> Danh sách cầu thủ yêu thích</i>
        </a>
    </button>
    <form action="/soccer-player" method="get" class="mb-5">
        <label for="name"></label>
        <input id="name" name="name" type="text"/>
        <button type="submit">Tìm kiếm</button>
    </form>
    <div class="container d-flex justify-content-around">
        <div class="row">
            <div class="card col-md-4 mx-3" style="width: 18rem;"
                 th:each="soccerPlayer, iterStat : ${soccerPlayerList}">
                <img th:src="*{soccerPlayer.img}" class="card-img-top" alt="...">
                <div class="card-body" style="text-align: left">
                    <h3 class="card-title" style="text-align: center">
                        <a class="text-decoration-none text-dark"
                           th:href="@{/soccer-player/detail/{id}(id=${soccerPlayer.id})}"
                           th:text="*{soccerPlayer.name}">
                        </a>
                    </h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mã cầu thủ: <span th:text="${soccerPlayer.code}"></span></li>
                        <li class="list-group-item">Ngày sinh: <span th:text="${soccerPlayer.dateOfBirth}"></span></li>
                        <li class="list-group-item">Kinh nghiệm: <span th:text="${soccerPlayer.experience}"></span></li>
                        <li class="list-group-item">Vị trí: <span th:text="${soccerPlayer.location}"></span></li>
                        <li class="list-group-item">Đội tuyển: <span th:text="${soccerPlayer.footballTeam.getName()}"></span></li>
                        <li class="list-group-item">Trạng thái: <span style="color: red" th:text="${soccerPlayer.status}"></span></li>
                        <li class="list-group-item">
                            <button type="button"
                                    th:attr="onclick=|infoRegister('${soccerPlayer.id}','${soccerPlayer.name}')|"
                                    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#registerModal">
                                Đăng kí
                            </button>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/soccer-player/update/(id=${soccerPlayer.id})}" class="btn btn-primary"><i
                                    class="fas fa-edit"></i></a>
                        </li>
                        <li class="list-group-item">
                            <button type="button" th:attr="onclick=|infoDelete('${soccerPlayer.id}','${soccerPlayer.name}')|"
                                    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/soccer-player/add-room/{id}(id=${soccerPlayer.id})}" class="btn btn-info">Yêu thích</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--        <table class="table table-striped able-bordered table-hover">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col">Mã Cầu Thủ</th>-->
<!--                <th scope="col">Họ Và Tên</th>-->
<!--                <th scope="col">Ngày Sinh</th>-->
<!--                <th scope="col">Kinh Nghiệm</th>-->
<!--                <th scope="col">Vị Trí</th>-->
<!--                <th scope="col">Ảnh Đại Diện</th>-->
<!--                <th scope="col">Đội Tuyển</th>-->
<!--                <th scope="col">Trạng Thái</th>-->
<!--                <th scope="col"></th>-->
<!--                <th scope="col">Thông Tin Chi Tiết</th>-->
<!--                <th scope="col">Chỉnh Sửa</th>-->
<!--                <th scope="col">Xóa</th>-->
<!--            </thead>-->
    <!--        <tbody>-->
    <!--        <tr th:each="soccerPlayer, iterStat : ${soccerPlayerList}">-->
<!--                <td th:text="*{soccerPlayer.code}"></td>-->
<!--                <td th:text="*{soccerPlayer.name}"></td>-->
<!--                <td th:text="*{soccerPlayer.dateOfBirth}"></td>-->
<!--                <td th:text="*{soccerPlayer.experience}"></td>-->
<!--                <td th:text="*{soccerPlayer.location}"></td>-->
<!--                <td>-->
<!--                    <img th:src="*{soccerPlayer.img}">-->
<!--                </td>-->
<!--                <td th:text="*{soccerPlayer.footballTeam?.name}"></td>-->
    <!--            <td th:text="*{soccerPlayer.status}"></td>-->

    <!--            <td>-->
    <!--                <button type="button" th:attr="onclick=|infoRegister('${soccerPlayer.id}','${soccerPlayer.name}')|"-->
    <!--                        class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#registerModal">-->
    <!--                    Đăng kí-->
    <!--                </button>-->
    <!--            </td>-->
    <!--            <td>-->
<!--                    <a th:href="@{/soccer-player/detail/{id}(id=${soccerPlayer.id})}" class="btn btn-primary">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                             class="bi bi-file-earmark-text" viewBox="0 0 16 16">-->
<!--                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"></path>-->
<!--                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"></path>-->
<!--                        </svg>-->
<!--                    </a>-->
    <!--            </td>-->
    <!--            <td>-->
<!--                    <a th:href="@{/soccer-player/update/(id=${soccerPlayer.id})}" class="btn btn-primary"><i-->
<!--                            class="fas fa-edit"></i></a>-->
    <!--            </td>-->
    <!--            <td>-->
<!--                    <button type="button" th:attr="onclick=|infoDelete('${soccerPlayer.id}','${soccerPlayer.name}')|"-->
<!--                            class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                        <i class="fas fa-trash-alt"></i>-->
<!--                    </button>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
    <!--  Modal xóa  <%-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/soccer-player/delete">
                    <div class="modal-body">
                        <input hidden type="text" id="idDelete" name="idDelete">
                        <span>Có chắc chắn xóa cầu thủ </span><span style="color: red" class="fw-bolder"
                                                                    id="nameDelete"></span> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    modal đăng kí-->

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalRegister" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalRegister">Đăng kí</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/soccer-player/register">
                    <div class="modal-body">
                        <input hidden type="text" id="idRegister" name="idRegister">
                        <span>Bạn có muốn thêm cầu thủ </span><span style="color: red" class="fw-bolder"
                                                                    id="nameRegister"></span> vào đội hình ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger">Đăng kí</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function infoDelete(id, name) {
            document.getElementById("idDelete").value = id;
            document.getElementById("nameDelete").innerText = name;
        }

        function infoRegister(id, name) {
            document.getElementById("idRegister").value = id;
            document.getElementById("nameRegister").innerText = name;
        }
    </script>
</div>

<div class="text-center container">
    <form action="/soccer-player" method="get">
        <div class="d-flex" style="margin-top: 16px; margin-right: 10px">
            <input type="number" id="pageForm2" placeholder="Nhập số trang...."
                   th:attr="onchange=|changeData()|">
            <input type="hidden" id="pageForm1" name="page" placeholder="Nhập số trang....">
            <input type="submit" class="btn btn-outline-info"
                   style="width: 136px" pattern="[1-9]+" value="Tìm kiếm">
        </div>
    </form>
    <a class="page-item btn btn-dark page-item" th:if="${soccerPlayerList.hasPrevious()}"
       th:href="@{/soccer-player(page = ${soccerPlayerList.number - 1})}">
        <i class="ti-angle-left">Previous</i>
    </a>

    <a class="page-item number btn btn-dark page-item"
       th:classappend="${pageNumber == soccerPlayerList.number + 1} ? 'active' : ''"
       th:each="pageNumber : ${pageNumberList}"
       th:href="@{/soccer-player(page = ${pageNumber - 1})}"
       th:text="${pageNumber}">
    </a>

    <a class="page-item btn btn-dark page-item" th:if="${soccerPlayerList.hasNext()}"
       th:href="@{/soccer-player(page = ${soccerPlayerList.number + 1})}">
        <i class="ti-angle-right">Next</i>
    </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    function changeData() {
        debugger
        document.getElementById("pageForm1").value = document.getElementById("pageForm2").value - 1;
    }
</script>
</body>
</html>